@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 8px;
}
p {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 15px;
    margin: 0;
    background-color: lightblue;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(0,0,200,.6);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(0,0,200,.4);
    color: rgb(0,0,200,.6);
    background-color: rgb(0,0,200,.3);
    display: inline-block;
    cursor: pointer;
}