@charset "UTF-8";

* {
    margin: 0;
}
#container {
    max-width: 800px;
    margin: auto;
    background-color: rgb(255, 17, 0);
    height: 100vh;
}
.tile {
    height: 100px;
    width: 25%;
    float: left;
    background-color: rgb(0,0,0,0);
}